.container {
  position: fixed;
  width: 100%;
}

.outlet {
  width: calc(100% - 250px);
  display: flex;
  position: fixed;
  right: 0;
  /* padding-left: 10px; */
}

@media (max-width: 767px) {
  .outlet {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
