.filterBlock {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    padding: 1em;
    margin-bottom: 2rem;
    font-weight: 700;
    border-radius: 5px;
    height: max-content;
}

.applyBtn {
    background: rgb(175, 16, 16);
    color: white;
    padding: 10px 30px;
    border-radius: 6px;
}

.cancelBtn {
    background: rgb(184, 180, 180);
    color: black;
    padding: 10px 30px;
    border-radius: 6px;
}

.cardStyle {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 90px;
    border-radius: 5px;
    justify-content: space-around;
    display: flex !important;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.cardDiv {
    /* justify-content: center; */
}

/* new css */
.cardOuter {
    height: 100px;
    width: 220px;
    border-radius: 15px;
    background: #F6F5F157;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

.cardTitle {
    font-family: "Lexend Exa", sans-serif;

}

.cardCount {
    font-family: "Lexend Exa", sans-serif;
    font-size: 30px;

}

.totalCount {
    color: #AF1010;
    font-family: "Lexend Exa", sans-serif;
    font-size: 30px;
}

.pendingCount {
    color: #00D509;
    font-family: "Lexend Exa", sans-serif;
    font-size: 30px;

}

.pickedUp {
    color: #3C0EF2;
    font-family: "Lexend Exa", sans-serif;
    font-size: 30px;
}

.pendingDelivery {
    font-family: "Lexend Exa", sans-serif;
    font-size: 30px;
    color: #AB5F5F;

}

.delivered {
    color: #302D2DD9;
    font-family: "Lexend Exa", sans-serif;
    font-size: 30px;
}

.cancelled {
    color: #F80000;
    font-family: "Lexend Exa", sans-serif;
    font-size: 30px;
}

.orderStatusFullFilled {
    background: #00D509;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

.orderStatusCancelled {
    background: #AF1010;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

.orderStatusDelivered {
    background: #AB5F5F;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

.orderStatusCompleted {
    background: #000;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

.orderStatusPickedUp {
    background: #3C0EF2;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

.cardTitleCountStyle {
    color: #3C0EF2;
    font-family: "Lexend Exa", sans-serif;
    font-size: 30px;

}