.paginationLinkStyle {
    color: #000 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border: 0.5px solid gray;
    /* border-radius: 5px; */
}

.paginationPrevNextStyle {
    color: #000 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px !important;

    a {
        color: #000 !important;

    }
}
.paginationPrevNextTextStyle{
    margin: 0px !important;
    padding: 10px 15px;
    border: 0.5px solid gray;
    color: #000 !important;
    
  
}

.paginationDotTextStyle {
    margin: 0px !important;
    padding: 10px 15px;
    border: 0.5px solid gray;
    color: #000 !important;

}

.paginationDotStyle {
    color: #000 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px !important;

}

.pagination {
    padding: 10px;
    display: flex;
    justify-content: end;
    margin: 0px !important;
}

.activePage {
    background-color: #EFF6FF;

}
.paginationPrevNextStyle .disabled{
    opacity: 0.2;
}
.pageNumberStyle{
    font-weight: 600;
}