.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-color);
  }
  
  .logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #af1010;
    margin-bottom: 20px;
  }
  
  .formContainer {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #333;
  }
  
  .required {
    color: red;
  }
  
  .inputGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #ddd; */
    /* border-radius: 5px; */
    /* padding: 10px; */
    margin-bottom: 10px;
  }
  .inputGroupLabel {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
  }
  
  input {
    /* border: none; */
    outline: none;
    flex-grow: 1;
    font-size: 1rem;
    padding: 8px;
  }
  
  .icon {
    color: #999;
  }
  
  .requestButton {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
  
  .requestButton:hover {
    background-color: #555;
  }
  
  .footerLinks {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .footerLinks a {
    font-size: 0.9rem;
    color: #333;
    text-decoration: none;
  }
  
  .footerLinks a:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .formContainer {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .logo {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.25rem;
    }
  
    .requestButton {
      font-size: 0.9rem;
    }
  }
  
  .error {
    color: red;
  }
  
  .success {
    color: green;
  }
  